{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "unicorn"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "google"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "rules": {
    "object-curly-spacing": "off",
    "max-len": ["error", 120, 2, { "ignoreUrls": true }],
    "indent": "off",
    "new-cap": "off",
    "semi": [0, "always"]
  }
}
